<div
class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpapers.com/images/hd/movie-theater-background-4152-x-2768-0qzsued4ujd981ej.jpg)">
  Save any kind of movies
</div>

  <% @lists.each do |list| %>
    <li><%= list.name %></li>
  <% end %>
</ul>
